<%- include('reusable/header',{cssFileName: "login" }) %>

    <div class="login">
      <div class="login-container">
        <div class="container">
          <form method="POST">

            <div class="mb-3 ">
              <div class="row login-row">
                <label class="login-text">Please register!</label>
              </div>
              <div class="row login-row">
                <div class="col col-3  col-sm-3 ">
                  <label for="exampleInputEmail1" class="form-label">Username:</label>
                </div>
                <div class="col col-7 offset-2 col-sm-8 offset-sm-1">   
                  <input
                type="text"
                name="username"
                class="form-control"
                id="exampleInputEmail1"
                />
                </div>
            </div>

            <div class="mb-3">
              <div class="row login-row">
                <div class="col col-3  col-sm-3 ">
                  <label for="exampleInputPassword1" class="form-label">Password:</label>
                </div>
                <div class="col col-7 offset-2 col-sm-8 offset-sm-1">   
                  <input
                type="password"
                name="password"
                class="form-control"
                id="exampleInputPassword1"
              />
                </div>
            </div>

            <div class="mb-3 ">
              <div class="row login-row">
                <div class="col col-6 login-middle">
                  <button type="submit" class="btn btn-primary">Register</button>
                </div>
                <div class="col col-6 login-middle">
                  <a href="/" class="btn btn-primary">Back</a>
                </div>
            </div> 
          </form>

        </div>
      </div>
    </div>

<%- include('reusable/footer',{jsFileName: "" }) %>

