.ex-placer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ex-formatter {
  display: block;
  width: 60vw;
  height: 60vh;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid rgb(14, 13, 13);
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 5px 10px 8px #888888;
}
.ex-formatter-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: 35vh;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid rgb(14, 13, 13);
  padding: 1rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  box-shadow: 5px 10px 8px #888888;
}
.ex-piece {
  margin: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
