<div class="dropdown ex-piece" id="to-toggle-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" name="exercise" id="dropdownMenu3"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #1786d5;">
        <%= typeof exercise==='undefined' ? "All exercises:" : exercise.name %>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu3" id="to-toggle-4">

        <% if(allExercises !==undefined){ %>
            <% for(var i=0; i < allExercises.length; i++) {%>
                <a class="dropdown-item" href="/workout/exercise/<%=`${allExercises[i]._id}`%>">
                    <%= allExercises[i].name %>
                </a>
                <% } %>
                    <% } %>
    </div>
</div>