<nav class="navbar navbar-expand-md navbar-light" style="background-color: #62b6f1">
    <a class="navbar-brand" href="/main"><img src="/imgs/logo.png" width="40" height="40"
            class="d-inline-block align-top" alt="" />
    </a>
    <button class="navbar-toggler" type="button" style="background-color: #1786d5; border: 2px solid rgb(14, 13, 13)"
        onclick="document.getElementById('navbar').classList.toggle('collapse')">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end align-center" id="navbar">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/main" style="color: #060b0f; font-weight: bold">Main page <span
                        class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/workout" style="color: #060b0f; font-weight: bold">Workout maker <span
                        class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/exercise" style="color: #060b0f; font-weight: bold">Exercises</a>
            </li>
        </ul>
    </div>
</nav>